
.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 260px;
    flex-shrink: 0;
    position: sticky;

}


.sidebar-block {
    background-color: #2B2A2A;
    border-radius: 20px;
    padding: 20px;
    color: white;
}


.sidebar__add-icon {
    width: 14px;
    height: 14px;
    object-fit: contain;
}


.sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar__title {
    margin: 0;
    font-size: 20px;
}


.sidebar__add-btn {
    background-color: #E4E4E4;
    color: #333;
    border: none;
    border-radius: 20px;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.sidebar__add-btn:hover {
    background-color: #cccccc;
}

