.app-layout {
    display: flex;
    padding: 30px; /* Margen general alrededor de la aplicación */
    gap: 30px; /* Separación entre el menú izquierdo y la parte derecha */
    align-items: flex-start;
}